### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/libraries/Maven__org_openjfx_javafx_base_win_17_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_17_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_17_0_2.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_17_0_2.xml
.idea/workspace.xml
